.header-flex-container {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 40px 0px;
}

.start-quiz-section {
  background-color: lightgreen;
  height: 400px;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

h1 {
  text-align: center;
}

.info {
  font-size: 16px;
  margin: 30px 30px;
  /* text-align: center; */
}

.start-quiz-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-quiz-button {
  padding: 25px;
  background-color: navy;
  color: white;
  border-radius: 20%;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.quiz-container {
  background-color: thistle;
  height: 400px;
}
